.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 70%; */
    height: 90vh;
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    border: 2px solid black;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input {
    width: 41vh;
    height: 6vh;
    border: 1px solid black;
    margin-top: 2vh;
    padding-left: 2vh;
    text-decoration: none;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.06);
    border-radius: 3px;
}

.areaFormChart {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid purple;
}

.areaFormChart > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 300px;
    border: 2px solid white;
}


.areaInfoinputChart {
    display: flex;

}

.areaChart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid blue;
}

.areaChart > div {
    display: flex;
    width: 40%;
    height: 300px;
    /* border: 2px solid white; */
}

.areaModalFormDashboard {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.areaModalFormDashboard button {
    background-color: yellow;
    border: 2px solid black;
    border-radius: 10px;
    height: 50px;
}