.graficoBarraTripla {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid blueviolet;
    background-color: white; 
    height: 300px;
    width: 100%;
}

.barraTripla {
    display: flex;
    border: 2px solid green;
    /* background-color: whitesmoke; */
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 35px;
    margin-left: 5px;
    margin-right: 5px;
}

.barraTripla > div {
    display: flex;
    border: 2px solid red;
    background-color: green;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 30px;
}

.divGraficoProdutosCompraVenda {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid #424242;
    height: 350px;
    width: 50%;
}

.divGraficoProdutosLucroAbsolutoRelativo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid #424242;
    height: 350px;
    width: 50%;
}

.divGraficoMultiChartBarLine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    /* background: radial-gradient(circle, #1C1C1C, #1f1f1f); */
    background: linear-gradient(to top, #1C1C1C, #1f1f1f);
    /* border: 3px solid orchid; */
    height: 650px;
    width: 100%;
}

.graficoMultiChartBarLine {
    display: flex;
    height: 83%;
    width: 80%;
    margin-top: 25px;
    background-color: #1f1f1f;
    /* margin-bottom: 0px; */
}

.divGraficoDoughnutAndamentoPorcentagem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(13, 13, 14); */
    height: 400px;
    width: 17%;
    /* z-index: 1; */
    position: absolute;
    padding-bottom: 40px;
}

.divGraficoDoughnutAndamentoPorcentagem > canvas {
    position: relative;
    /* right: 3px; */
    top: 14px;
 }

.divVisorPorcentagemCentroDoughnut {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 46%;
    /* left: 125px; */
    /* top: 141px; */
    margin-top: 38px;
    /* z-index: -1; */
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    background-color: #5c2092;
    /* background: linear-gradient(to right, #8e2de2, #4A00E0); */
    border-radius: 50%;
    height: 29%;
}

.divVisorPorcentagemCentroDoughnut p {
    color: azure;
    font-size: 1.35rem;
}



.divGraficoAndamentoProdutosCategorias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: radial-gradient(circle, #1C1C1C, #1f1f1f); */
    /* background: linear-gradient(to right, #1C1C1C, #1f1f1f); */
    background: linear-gradient(to top, #1C1C1C, #1f1f1f);
    /* background: radial-gradient(circle, #F00, #FF0); */
    /* background-color: #1C1C1C; */
    /* border: 3px solid blueviolet; */
    height: 800px;
    width: 100%;
}

.graficoAndamentoProdutosCategorias {
    display: flex;
    height: 78%;
    width: 90%;
    margin-top: 0px;
    padding-top: 10px;
    background-color: #1f1f1f;
    /* margin-bottom: 30px; */
}

.containerDoughnut {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 400px;
}

.visorDados {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22%;
    height: 180px;

    background-image: linear-gradient(to right, #25262c, #363636);
    /* background-image: linear-gradient(to right, #B0C4DE, #778899); */
    /* background-image: linear-gradient(to right, #708090, #808080); */
    /* background-image: linear-gradient(to right, #87CEEB, #778899); */
    /* background-image: linear-gradient(to right, #708090, #778899); */
    border-radius: 10px;
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */


    /* background: #DCDCDC;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.visorDados div {
    color: azure;
}


/* canvas:nth-child(2) {
    position: relative;
    left: -11.8437px;
    height: 812px;
} */

.divLineChart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.lineChart {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    /* height: 90%; */
    width: 70%;
}